.wrapper {
    width: 430px;
    height: 250px;
    color: white;
    background: linear-gradient(to bottom right, blue, pink);
    border-radius: 10px;
    padding: 20px;
    
}
.weather-header {
    display: flex;
    justify-content: space-between;
}

.wrapper-temp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.temp {
    font-size: 30px;
}

